<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.heartbeatsignal.dao.database.mysql.mybatis.mapper.BadReportMapper">
  <resultMap id="BaseResultMap" type="com.company.heartbeatsignal.entity.BadReport">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="report_reason" jdbcType="VARCHAR" property="reportReason" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="img_path" jdbcType="VARCHAR" property="imgPath" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="report_info" jdbcType="LONGVARCHAR" property="reportInfo" />
  </resultMap>
</mapper>